@model IEnumerable<EmployeeAttendance.BAL.Models.EmployeeVM>

@{
    ViewBag.Title = "Display";
}

<h2>Search Employee</h2>
@using(Html.BeginForm())
{
<input type="search" name="Search" class="form-control" />
<button><span class="glyphicon glyphicon-search btn btn-success"></span></button>
}

<table class="table">
    <tr>
        <th>
            EmployeeId
        </th>
        @*<th>
            Image
        </th>*@
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Email
        </th>
        <th>
            Contact
        </th>
        <th>
            DateOfBirth
        </th>
        <th>
            Address
        </th>
        <th>
            Salary
        </th>
        @*<th>
            DepId
        </th>
        <th>
            ProjId
        </th>*@
        <th>
            Department
        </th>
        <th>
            Project
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model) 
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeId)
    </td>
    @*<td>
        <img src="@Url.Content(Session["imgPath"].ToString())" height="25" width="40" />
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ContactNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeSalary)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.DepId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjId)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
        @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId }, new { onclick = "return confirm('want to delete?')" })
    </td>
</tr>
}

</table>
